<html>

<head>
    <title>{{name}}'s Profile</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>



<body>
     <div class="mould">
        <div class="userProfile">
             <h1>Hello, {{name}}</h1>
             <div class="help-text">
            <p>{{helpText}}</p>
            </div>
             <img src="{{linkUrl}}">
        </div>
    
    <div class="main-content">
        
        <div class="tasks">
            <h3>To do list:</h3>
            {{task}}
            <ul class="task_list">
                {{#each_dotask}}
                    <li>{{this}}</li>
                {{/each_dotask}}
            </ul>
            <h3>Tasks completed:</h3>
            {{task}}
            <ul class="task_list">
                {{#each_fintask}}
                    <li>{{this}}</li>
                {{/each_fintask}}
            </ul>
    </div>

        

    </div>
    

    </div>
    
</body>

</html>