<!DOCTYPE html>

<html>

<head>
    <title>{{name}}'s Profile</title>
</head>

<body>
    <h1>Hello,</h1>
    <h3>{{name}}</h3>
    <img src="{{linkUrl}}">
    <div class="main-content">

        <p>{{helpText}}</p>
        {{userModel}}

    </div>
    <div class="tasks">
        <h3>To do list:</h3>
        {{task}}
        <ul class="task_list">
            {{#each_task}}
                <li>{{this}}</li>
            {{/each_task}}
        </ul>
    </div>
</body>

</html>